.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 58);
    z-index: 1000;
    height: auto;
    text-align: center;
  }
  
  .nav-link {
    text-align: center;
    color: rgb(140, 241, 241);
    font-size: 16px;
    padding: 10px;
  }
  
  #header-img {
    height: auto;
    width: 300px;
    padding: 10px;
  }
  
  header {
    color: rgb(140, 241, 241);
    font-weight: bold;
    font-size: 26px;
    padding: 10px;
  }
  
  body {
    background-color: gray;
    text-align: center;
    margin-top: 40px;
    width: 100%;
  }

  .container {
    justify-items: center;
  }
  
  .box1, .box2, .box3 {
    border: 2px solid black;
    text-align: center;
    width: 80%;
    height: auto;
    font-weight: bold;
    padding: 10px;
  }
  
  button {
    background-color: orange;
    color:black;
    font-weight: bold;
  }
  
  #Contact_Us {
    color: rgb(140, 241, 241);
    background-color: rgb(0, 0, 58);
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
  }
  
  #video {
    padding: 50px;
    width: auto;
    height: auto;
  }

  @media (min-width: 600px) {
    header {
      font-size: 32px;
    }
    .nav-link {
      font-size: 20px;
      padding: 20px;
    }
    .box1, .box2, .box3 {
      width: 50%;
    }
    h1, h2, h3 {
      font-size: 40px;
    }
    p {
      font-size: 24px;
    }
  }